//@import 'vars';
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
  background-color: transparent;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*--------------------*/

body {
  min-width: 320px;
  // height: 100vh;
  overflow-x: hidden;
  margin: 0;
  font-weight: 500;
  font-family: $fontFamily;
  color: $mainColor;
  // @extend %gilroy-regular;
  font-size: $fontSize;
  @include line-height(27, 18);
}
// убирает скрол у body если открыть попап
body.lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  &._loaded {
  }
}
// > main { // Прижимаю футер
//   flex: 1 1 auto;
// }
.page {
  // Прижимаю футер
  //   padding: 70px 0 0 0;
  flex: 1 1 auto;
  @media (max-width: $md2 + px) {
    //  padding: 50px 0 0 0;
  }
  @media (max-width: $md3+px) {
    //  padding: 30px 0 0 0;
  }
  // Фикс для слайдера
  // > * {
  //   min-width: 0;
  // }
}
.container {
  max-width: $containerWidth + px;
  padding: 0 15px;
  margin: 0 auto;
  // text-align: center;
  // если адаптив по брекпоинтам
  // @media (max-width: $md1+px) {
  //   max-width: 750px;
  // }
  // @media (max-width: $md3+px) {
  //   max-width: none;
  //   padding: 0 10px;
  // }
}
.title {
  // @include adaptiv-value('font-size', 40, 24, 1);
  // font-weight: 700;
  // line-height: 120%;
  // font-size: 44px;
  // line-height: 60 / 44 * 100%;
  // @extend %heebo-bold;
  // @media (max-width: $md3+px) {
  //   font-size: 32px;
  // }
}

.red {
  color: red;
}

.btn {
  // display: inline-flex;
  // padding: 0 15px;
  // align-items: center;
  // justify-content: center;
  // text-align: center;
  // transition: all 0.3s ease 0s;
  // min-height: 48px;
  // &_white {
  //   color: $orangeColor;
  //   background-color: #fff;
  //   @media (any-hover: hover) {
  //     &:hover {
  //       background-color: $orangeColor;
  //       color: #fff;
  //     }
  //   }
  // }
  // @media (min-width: 992px) {
  //   &:hover {
  //     background: transparent;
  //     border: 2px solid $main-color;
  //   }
  // }
  // &._fm {
  //   width: 100%;
  // }
}
.text {
  // color: $text-color;
  // @extend %heebo-regular;
  // font-size: 16px;
  // line-height: 23 / 16 * 100%;
}
._footer-title {
  // cursor: pointer;
  // border: none;
  // background-color: transparent;
  // @include adaptiv-value('font-size', 24, 20, 1);
  // line-height: 29 / 24 * 100%;
  // color: #000;
  // font-weight: 700;
}

._flyImage._ibg {
  // opacity: 1;
  // position: fixed;
  // z-index: 100;
  // transition: all 1s ease 0s;
}

// ***  позволяет делать изображение адаптивным ***
._ibg {
  position: relative;
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}
// Если зашли с IE
body.ie {
  ._ibg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  ._ibg img {
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
  }
}
