//@import 'vars';
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
  background-color: transparent;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*--------------------*/

body {
  min-width: 320px;
  // height: 100vh;
  overflow-x: hidden;
  margin: 0;
  font-weight: 500;
  font-family: $fontFamily;
  color: $mainColor;
  // @extend %gilroy-regular;
  font-size: $fontSize;
  @include line-height(27, 18);
  // Убирает скрол у body если открыть попап
  .lock {
    overflow: hidden;
    touch-action: none;
    overscroll-behavior: none;
  }
  // Сайт загружен
  ._loaded & {
  }
}
// убирает скрол у body если открыть попап
html.menu-open body {
  overflow-y: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  // Прижимает футер
  > main {
    flex: 1 1 auto;
  }
  //  Фикс для слайдера
  > * {
    min-width: 0;
  }
}

.page {
  // Прижимаю футер
  //   padding: 70px 0 0 0;
  flex: 1 1 auto;
  @media (max-width: $md2 + px) {
    //  padding: 50px 0 0 0;
  }
  @media (max-width: $md3+px) {
    //  padding: 30px 0 0 0;
  }
  // Фикс для слайдера
  // > * {
  //   min-width: 0;
  // }
}
.container {
  // *** Щитает скрипт и миксин в _vars
  // max-width: $containerWidth + px;
  // padding: 0 15px;
  // margin: 0 auto;

  // text-align: center;
  // если адаптив по брекпоинтам
  // @media (max-width: $md1+px) {
  //   max-width: 750px;
  // }
  // @media (max-width: $md3+px) {
  //   max-width: none;
  //   padding: 0 10px;
  // }
}
.title {
  // @include adaptiv-value('font-size', 40, 24, 1);
  // font-weight: 700;
  // line-height: 120%;
  // font-size: 44px;
  // line-height: 60 / 44 * 100%;
  // @extend %heebo-bold;
  // @media (max-width: $md3+px) {
  //   font-size: 32px;
  // }
}

.red {
  color: red;
}

.btn {
  // display: inline-flex;
  display: inline-block;
  padding: 0px 0px;
  @media (any-hover: hover) {
    &:hover {
    }
  }
  &._fm {
    width: 100%;
  }
  // align-items: center;
  // justify-content: center;
  // text-align: center;
  // transition: all 0.3s ease 0s;
  // min-height: 48px;
  // &_white {
  //   color: $orangeColor;
  //   background-color: #fff;
  //   @media (any-hover: hover) {
  //     &:hover {
  //       background-color: $orangeColor;
  //       color: #fff;
  //     }
  //   }
  // }
  // @media (min-width: 992px) {
  //   &:hover {
  //     background: transparent;
  //     border: 2px solid $main-color;
  //   }
  // }
}
.text {
  // color: $text-color;
  // @extend %heebo-regular;
  // font-size: 16px;
  // line-height: 23 / 16 * 100%;
}
._footer-title {
  // cursor: pointer;
  // border: none;
  // background-color: transparent;
  // @include adaptiv-value('font-size', 24, 20, 1);
  // line-height: 29 / 24 * 100%;
  // color: #000;
  // font-weight: 700;
}

._flyImage._ibg {
  // opacity: 1;
  // position: fixed;
  // z-index: 100;
  // transition: all 1s ease 0s;
}

// ***  позволяет делать изображение адаптивным ***
._ibg {
  position: relative;
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}
// Если зашли с IE
body.ie {
  ._ibg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  ._ibg img {
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
  }
}

// Отзывчивая картинка
._ibg-contain {
  img {
    object-fit: contain;
  }
}

// ===================================================================
// *** Стрелки слайдера
// .slider__button-wrapper {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   width: 200px;
//   margin-left: auto;
//   @media (max-width: $mobile) {
//     display: none;
//   }
// }
// .slider__button {
//   cursor: pointer;
//   position: relative;
//   width: 80px;
//   height: 50px;
//   div {
//     position: relative;
//     top: 24px;
//     width: 65px;
//     height: 3px;
//     background-color: $mainColor;
//     left: 3;
//     display: block;
//     &::after {
//       content: '';
//       position: absolute;
//       width: 20px;
//       height: 3px;
//       top: -6px;
//       right: -4px;
//       background-color: $mainColor;
//       transform: rotate(45deg);
//     }
//     &::before {
//       content: '';
//       position: absolute;
//       width: 20px;
//       height: 3px;
//       top: 7px;
//       right: -3px;
//       background-color: $mainColor;
//       // box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
//       transform: rotate(-45deg);
//     }
//   }
// }
// .swiper-button-prev {
//   transform: rotate(-180deg);
//   @media (any-hover: hover) {
//     &:hover {
//       animation: arrow-left 1s linear infinite;
//     }
//   }
// }
// .swiper-button-next {
//   @media (any-hover: hover) {
//     &:hover {
//       animation: arrow-right 1s linear infinite;
//     }
//   }
// }
// @keyframes arrow-right {
//   0% {
//     left: 0;
//   }
//   50% {
//     left: 10px;
//   }
//   100% {
//     left: 0;
//   }
// }
// @keyframes arrow-left {
//   0% {
//     right: 0;
//   }
//   50% {
//     right: 10px;
//   }
//   100% {
//     right: 0;
//   }
// }
// *** Буллеты *** //
// .image-slider .swiper-pagination-bullet {
//   width: 20px;
//   height: 20px;
//   line-height: 20px;
//   font-size: 14px;
//   background-color: #fff;
// }
// .swiper-pagination {
//   width: 100%;
//   display: flex;
//   margin: 0 auto;
//   margin-bottom: 20px;
//   position: relative;
//   left: 50%;
//   transform: translate(0, -50%);
//   &-bullet {
//     width: 15px;
//     height: 15px;
//     border-radius: 50%;
//     border: 1px solid rgba($biruzeColor, 0.5);
//     display: block;
//     &:not(:last-child) {
//       margin-right: 15px;
//     }
//     &-active {
//       border: 1px solid $mainColor;
//       background-color: $mainColor;
//     }
//   }
//   @media (min-width: $mobile) {
//     display: none;
//   }
// }

// ========================
// *** Табы ***
// .tabs-items {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   @media (max-width: $pc+px) {
//     overflow-x: auto;
//     &::-webkit-scrollbar {
//       width: 0;
//     }
//   }
// }
// // класс active нужно добавить tabs-body__елементу в home.scss
// .tabs-body__item {
//   &.active {
//     display: block;
//   }
// }
// .tabs-item {
//   @include adaptiv-value('max-width', 240, 220, 1);
//   @include adaptiv-value('height', 80, 60, 1);
//   width: 100%;
//   display: flex;
//   align-items: center;
//   box-shadow: 0px 15px 30px rgba(232, 115, 131, 0.25);
//   border-radius: 20px;
//   position: relative;
//   border: 1px solid rgba($mainColor, 0.7);
//   @include adaptiv-value('font-size', 22, 12, 1);
//   @include line-height(24, 22);
//   transition: all 0.3s ease 0s;
//   fill: $mainColor;
//   &:not(:last-child) {
//     margin-right: 10px;
//   }
//   &.active {
//     color: #fff;
//     background-color: $mainColor;
//     fill: #fff;
//   }
//   @media (any-hover: hover) {
//     &:hover {
//       color: #fff;
//       background-color: $mainColor;
//       fill: #fff;
//     }
//   }
//   .tab__element {
//     fill: inherit;
//     width: 37px;
//     height: 60px;
//     margin: 0px 15px 0px 25px;
//   }

//   // делает слайдер с табов
//   @media (max-width: $pc+px) {
//     flex: 0 0 90%;
//     visibility: visible;
//     animation-duration: 1s;
//     animation-delay: 0.2s;
//     animation-name: slideInRight;
//   }
// }
