// *** Миксины шрифтов ***
%gilroy-lite {
  font-family: 'Gilroy', sans-serif;
  font-weight: 300;
}
%gilroy-regular {
  font-family: 'Gilroy', sans-serif;
  font-weight: 400;
}

%gilroy-bold {
  font-family: 'Gilroy', sans-serif;
  font-weight: 700;
}
%gilroy-black {
  font-family: 'Gilroy', serif;
  font-weight: 900;
}
%gilroy {
  font-family: 'Gilroy', serif;
  font-weight: 800;
}

// *** Настройки шрифта по умолчанию ***
$fontSize: 18px; // размер шрифта по умолчанию
$fontFamily: 'Arial', sans-serif; // шрифт по умолчанию

// *** Настройки сетки ***
$minWidth: 320px; // минимальная ширина экрана
$maxWidth: 1440; // ширина всего полотна макета
$maxWidthContainer: 1240; // ширина ограничивающего контейнера (0 - нет ограничения)
$containerPadding: 30; // безопасный отступ у контейнера 15px с лева и 15px с права (0 - нет отступа)
$containerWidth: $maxWidthContainer + $containerPadding; // Ширина срабатывания первого брекпоинта

// Тип адаптива:
// 1 = отзывчивость ( у контейнера нет брекпоинтов)
// 2 = по брекпоинтам ( контейнер меняет свою ширину по брекпоинтам)
$responsiveType: 1; 

// $pc: em($containerWidth); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
// $tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
// $mobile: em(767.98); // Телефоны L
// $mobileSmall: em(479.98); // Телефоны S

 $pc: $containerWidth; // ПК, ноутбуки, некоторые планшеты в горизонтальном положени
 $tablet: 991.98px; // Планшеты, некоторые телефоны в горизонтальном положении
 $mobile: 767.98px; // Телефоны L
 $mobileSmall: 479.98px; // Телефоны S

$md1: $containerWidth; // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$md2: 991.98; // Планшеты, некоторые телефоны в горизонтальном положении
$md3: 767.98; // Телефоны L
$md4: 479.98; // Телефоны S

// *** Основные цвета ***
// $orangeColor: #e89f71;
// $grayColor: #898989;
$mainDarkColor: #141414;
$mainColor: #000; // Цвет шрифта по умолчанию
// $bg-color: #edf7fa;;

// *** Изменение адаптива ***
// Стили будут применяться ко всем классам содержащим container
// Например header__container, main__container и т.д.
// Снипет (HTML): cnt

// @if ($responsiveType==1) {
//   // Отзывчивая
//   [class*='container'] {
//     @if ($maxWidthContainer>0) {
//       max-width: rem($maxWidthContainer);
//       box-sizing: content-box;
//       margin: 0 auto;
//     }
//     @if ($containerPadding>0) {
//       padding: 0 rem(math.div($containerPadding, 2));
//     }
//   }
// }
// else {
//   // По брейк-поинтам
//   [class*='container'] {
//     margin: 0 auto;
//     @if ($maxWidthContainer>0) {
//       max-width: rem($maxWidthContainer);
//       box-sizing: content-box;
//     } @else {
//       @if ($containerPadding>0) {
//         padding: 0 rem(math.div($containerPadding, 2));
//       }
//     }
//     @media (max-width: $pc) {
//       max-width: rem(970);
//     }
//     @media (max-width: $tablet) {
//       max-width: rem(750);
//     }
//     @media (max-width: $pc) {
//       max-width: none;
//       @if ($containerPadding>0 and $maxWidthContainer>0) {
//         padding: 0 rem(math.div($containerPadding, 2));
//       }
//     }
//   }
// }
