.checkbox {
  position: relative;
  &:not(:last-child) {
    margin-bottom: em(5);
  }
  /* валидация чекбокса */
  &._error &__label::before {
    box-shadow: 0 0 15px red;
  }
  &__input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    &:focus + .checkbox__label::before {
      // box-shadow: 0 0 5px #000;
    }
    &:checked + .checkbox__label::after {
      transform: scale(1);
    }
  }

  &__label {
    display: inline-flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    gap: 10px;
    &::before {
      content: '';
      align-self: flex-start;
      flex: 0 0 rem(20);
      height: rem(20);
      border: 1px solid $mainOrangeColor;
      border-radius: 2px;
      // border-radius: 4px;
    }
    &::after {
      content: '';
      width: rem(16);
      height: rem(16);
      position: absolute;
      top: 2px;
      left: 2px;
      background-color: $mainOrangeColor;
      // border-radius: 4px;
      transform: scale(0);
      transition: transform 0.2s ease 0s;
    }
  }
  &__text {
    small {
      color: $mainOrangeColor;
    }
  }
}
