// *** FORM ***
// Снипет HTML
.form {
  position: relative;
  &__row {
  }
  &__column {
  }
  &__line {
  }
  &__input {
    &._error {
      box-shadow: 0 0 rem(5) red;
      color: red;
      &::placeholder {
        color: red;
      }
    }
    &::placeholder {
    }
  }
  &__button {
  }
  &__error {
    // position: absolute;
    left: 0;
    color: red;
    font-size: rem(12);
  }
}

// *** BUTTONS ***
// .btn {
//   display: inline-flex;
//   padding: 0 0;
//   @media (min-width: 992px) {
//     &:hover {
//     }
//   }
//   &._fm {
//     width: 100%;
//   }
// }
