

//  *** burger ***
.icon-menu {
  border: none;
  background: transparent;
  display: none;
  @media (max-width: $mobile) {
    display: block;
    position: relative;
    flex: 0 0 30px;
    // width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
    span,
    &::before,
    &::after {
      content: '';
      transition: all 0.3s ease 0s;
      left: 0;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #fff;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    span {
      top: calc(50% - 1px);
    }
    &.menu-open {
      span {
        transform: scale(0);
      }
      &::before {
        transform: rotate(-45deg);
        top: calc(50% - 1px);
      }
      &::after {
        transform: rotate(45deg);
        bottom: calc(50% - 1px);
      }
    }
  }
}
